// Breadcrumbs Component
.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  // text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2;
  text-decoration: dotted underline;

  > div {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 1.5em;
  }

  div:last-child :last-child {
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Responsive Design
@media screen and (max-width: 1200px) {
  .breadcrumbs {
    margin-left: 2%;
  }
}

@media screen and (max-width: 680px) {
  .breadcrumbs {
    flex-wrap: wrap;
  }
}
