// Breadcrumbs Component
.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;

  > div {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 1.5em;
  }

  a {
    color: #555;
  }

  div:last-child :last-child {
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Responsive Design
@media screen and (max-width: 1200px) {
  .breadcrumbs {
    margin-left: 2%;
  }
}

@media screen and (max-width: 680px) {
  .breadcrumbs {
    flex-wrap: wrap;
  }
}
