// Supportcenter Header Component
.supportcenter_header {
  position: relative;

  .supportcenter_title_container {
    h1.entry-title {
      font-family: $font-family-base;
      font-size: 2.25em;
      margin-bottom: 0.75em;
    }
  }
}
