// Supportcenter Header Component
.supportcenter_header {
  padding-bottom: 16vw;
  border-radius: $border-radius-lg $border-radius-lg 0px 0px;
  position: relative;
  margin-bottom: 1vw;

  .supportcenter_title_container {
    padding-top: 8vw;

    h1.entry-title {
      font-family: $font-family-base;
      font-size: 6.25em;
      letter-spacing: 0px;
      max-width: 90%;
      margin: auto;
      margin-bottom: 0.75em;
    }
  }

  // Header bottom decoration
  .bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMHZ3IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMy40QzEwNTAuNTkgMTggMTAxOS40IDg0Ljg5IDczNC40MiA4NC44OWMtMzIwIDAtMzIwLTg0LjMtNjQwLTg0LjNDNTkuNC41OSAyOC4yIDEuNiAwIDMuNFYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjE0MEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDUxLjc2Yy0yMDEgMTIuNDktMjQyLjQzIDUzLjQtNTEzLjU4IDUzLjQtMzIwIDAtMzIwLTU3LTY0MC01Ny00OC44NS4wMS05MC4yMSAxLjM1LTEyNi40MiAzLjZWMTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 130%;
    width: 100%;
    height: 11vw;
    bottom: 0vw;
    position: absolute;
    z-index: 2;
  }

  // Background pattern wrapper
  .bg_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    .background-pattern {
      position: absolute;
      width: 100%;
      height: 200%;
      background-repeat: no-repeat;
      z-index: -2;
      top: -21vw;
    }
  }
}
