// Module Overview Component
.module-ueberblick {
  padding: 4em;
  margin-bottom: 4em;

  > h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .module {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 62em;
  }
}

// Icon Components
.icon-and-capture {
  display: flex;
  align-items: center;
  margin: 1.5em;

  i {
    font-size: 3.375em;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #01010150;
  }
}

.icon-text-wrapper {
  margin: 1.5em 0;

  p {
    text-align: center;
  }
}

// ET Builder Integration - no space between header and content for breadcrumbs
.et_builder_inner_content
  #supportcenter-content.et_pb_section.supportcenter-content,
.et_builder_inner_content
  #supportcenter-content.et_pb_section.supportcenter-content
  .et_pb_row {
  padding: 0;
}

// Responsive Design
@media screen and (max-width: 1200px) {
  .module-ueberblick {
    padding: 4em 0 0 0;

    .module {
      width: unset;
      max-width: 950px;
    }
  }
}

@media screen and (max-width: 680px) {
  .icon-and-capture i {
    font-size: 2.375em;
  }

  .icon-text-wrapper p {
    font-size: 0.9em;
  }

  .module-ueberblick {
    > h2 {
      font-size: 1.5em;
    }

    .module {
      margin-left: -5%;
      width: 110%;
    }
  }
}
