//Patch for icon class names

//immobilienberechnung
.icon-icon-berechnungen::before {
  content: "\e809";
}

//vermietungsliste
.icon-icon-vermietung::before {
  content: "\e81b";
}

//managementdashboard
.icon-icon-dashboard::before {
  content: "\e80f";
}

//administration
.icon-icon-admin::before {
  content: "\e80f";
}

// Module Overview Component
.module-ueberblick {
  padding: 4em;
  margin-bottom: 4em;

  > h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .module {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 62em;
  }
}
