// Module Overview Component
.module-ueberblick {
  padding: 4em;
  margin-bottom: 4em;

  > h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .module {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 62em;
  }
}
