// Module Page Styles

// Module description
.modul-description {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;
  @media screen and (max-width: 900px) {
    gap: unset;
    flex-direction: column;
  }

  .icon-and-capture {
    background-color: $background-color;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    [class*="icon-"] {
      &::before {
        // width: 160px;
        // height: 160px;
        font-size: 100px;
        color: $primary-dark;
      }
    }
  }

  .modul_content {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 700;
    width: 100%;
    max-width: 800px;

    @media screen and (max-width: 900px) {
      padding-top: 20px;
    }
  }
}

// faq block
.faq {
  .container {
    max-width: 1920px;
    .q_and_a_contents {
      display: grid;
      grid-template-columns: 3.5fr 6.5fr;
      grid-gap: 5vw;
      background: linear-gradient(#00000015, #00000015) center/2px 100%
        no-repeat;
      background-position: 35% 0;
      margin-right: 8vw;
      @media screen and (max-width: 900px) {
        background: none;
      }

      .title-wrapper {
        grid-column: 1/2;

        @media screen and (max-width: 900px) {
          grid-column: 1/-1;
        }
        li {
          list-style: none;
          font-size: 1.2em;
          letter-spacing: 0.05em;
          font-weight: bold;
          line-height: 1.5em;
          margin-bottom: 1em;
          color: $primary-color;

          :hover {
            opacity: 0.8;
          }

          // &::after {
          //   content: "\f077";
          //   font-family: "FontAwesome";
          //   display: inline-block;
          //   transform: rotate(90deg);
          //   position: relative;
          //   left: 0.3em;
          //   font-size: 0.8em;
          // }
        }
      }

      .qanda-wrapper {
        grid-column: 2/3;

        @media screen and (max-width: 900px) {
          grid-column: 1/-1;
        }
        ul {
          margin-left: 1rem;
        }

        ol {
          margin-left: 2rem;
        }

        .single {
          .question {
            font-size: 2em;
            line-height: 1.2em;
            padding-bottom: 1.3em;
            font-weight: 900;
            scroll-margin-top: 150px;
          }

          .answer {
            font-size: 1.1em;
            padding-bottom: 5em;

            img {
              margin: 20px;
            }
          }
        }
      }
    }
  }
}
