// Module Page Styles

// Module description
.modul-description {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;

  .icon-and-capture {
    width: 8em;
    height: 8em;
    background-color: $background-light;
  }

  .modul_content {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 700;
    width: 100%;
    max-width: 800px;
  }
}

// faq block
.faq {
  .container {
    max-width: 1920px;
    .q_and_a_contents {
      display: grid;
      grid-template-columns: 3.5fr 6.5fr;
      grid-gap: 5vw;
      background: linear-gradient(#00000015, #00000015) center/2px 100%
        no-repeat;
      background-position: 35% 0;
      margin-right: 8vw;

      .title-wrapper {
        grid-column: 1/2;
        li {
          list-style: none;
          font-size: 1.2em;
          letter-spacing: 0.05em;
          font-weight: bold;
          line-height: 1.5em;
          margin-bottom: 1em;
        }
      }

      .qanda-wrapper {
        grid-column: 2/3;
        ul {
          margin-left: 1rem;
        }

        ol {
          margin-left: 2rem;
        }

        .single {
          .question {
            font-size: 2em;
            line-height: 1.2em;
            padding-bottom: 1.3em;
            font-weight: 900;
            scroll-margin-top: 150px;
          }

          .answer {
            font-size: 1.1em;
            padding-bottom: 5em;
          }
        }
      }
    }
  }
}

// Scroll Buttons
.scroll-buttons {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  z-index: 2;
  display: none;

  &.showBtn {
    display: block;
    margin: 1em;
  }

  button {
    border: 0px;
    border-radius: 15px;
    background-color: $background-light;
    box-shadow: 0px 3px 6px #00000029;

    .up_arrow_icon {
      width: 30px;
      margin: 1em;
    }
  }
}

// Responsive Design
@media screen and (max-width: 900px) {
  .modul-description {
    gap: unset;
  }

  .q_and_a_contents {
    display: grid;
    grid-template-columns: 1fr;
    background: unset;
  }
}

@media screen and (max-width: 640px) {
  .modul-description div:nth-child(2) {
    font-size: 1.2em;
    width: unset;
  }

  .q_and_a_contents {
    margin-right: unset;
  }

  .qanda-wrapper .single .question {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 450px) {
  .modul-description {
    flex-direction: column;
    padding: 2em 0em 3em 0em;
  }
}
