/*
** Supportcenter header **
*/
.supportcenter_header .supportcenter_mainpage_content {
  font-size: 1.5em;
  width: 33em;
  margin: auto;
  color: #000;
  line-height: 1.2em;
  padding-bottom: 3.5em;
}
