// Main SCSS file - Entry point
@import "variables";
@import "base/base";
@import "components/header";
@import "components/search";
@import "components/breadcrumbs";
@import "components/modules";
@import "pages/main-page";
@import "pages/module-page";
